*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "SuisseIntl";
  font-size: 16px;
  font-weight: 300;
  color: #333;
}

.text-part {
  &_green {
    color: #3db565;
  }
}

.text {
  line-height: 1.75;
  margin-bottom: 20px;
  &_form {
    font-size: 18px;
    margin-top: 100px;
  }
}

.link {
  color: #3db565;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  &_tel {
    font-weight: 300;
    font-size: 28px;
  }
}