@font-face {
  font-family: "SuisseIntl";
  src:
    url("../fonts/SuisseIntl.woff2") format("woff2"),
    url("../fonts/SuisseIntl.woff") format("woff");
    font-weight: 400;
}

@font-face {
  font-family: "SuisseIntl";
  src:
    url("../fonts/SuisseIntl-Light.woff2") format("woff2"),
    url("../fonts/SuisseIntl-Light.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "SuisseIntl";
  src:
    url("../fonts/SuisseIntl-SemiBold.woff2") format("woff2"),
    url("../fonts/SuisseIntl-SemiBold.woff") format("woff");
  font-weight: 500;
}