.page {
  &__title {
    font-weight: 300;
    font-size: 49px;
    margin-bottom: 45px;
  }
  .page-block {
    &__title {
      font-weight: 300;
      font-size: 34px;
      margin-bottom: 45px;
    }

  }
  &__container {
    width: auto;
    margin: 0 auto;
    overflow: hidden;
    @media screen {
      @media (min-width: $tablet-width) {
        width: 768px;
      }
      @media (min-width: $desktop-width) {
        width: 1240px;
      }
    }
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    &_with-padding {
      padding: 60px 60px 80px;
    }
    &__column {
      max-width: 100%;
      flex: 0 0 100%;
      &_half {
        max-width: 50%;
        flex: 0 0 50%;
      }
    }
  }
}