.tab {
  transition: opacity .2s ease-in;
  &__heading {
    font-size: 26px;
    margin-bottom: 35px;
  }
  &__text {
    font-size: 12px;
    line-height: 1.75;
  }
  &.out {
    opacity: 0;
    transition: opacity .2s ease-out;
  }
}