.tabs {
  &__nav {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    margin-bottom: 45px;
  }
  &__item {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    margin-right: 25px;
    transition: color .3s ease-out;
    cursor: pointer;
    &.active {
      color: #3db565;
      transition: color .3s ease-in;
    }
  }
}