.page_home {
  .page-block_offices {
    background-color: #262626;
    color: #fff;
    height: 500px;
  }
  .page-block_form {
    background-image: url('../assets/images/pattern.png');
    color: #000;
  }
  .offices {
    padding: 60px;
  }
}